# Vivino Scraping  Analysis

In [1]:
# importo le librerie necessarie 
import numpy as np
import pandas as pd

%matplotlib inline 
import matplotlib   
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
vivino = pd.read_csv('Scraping_files_Vivino/Scraper.csv') 
vivino.head()

,Unnamed: 0.1,Unnamed: 0,name,grape,product rating,number ratings,product type,country of origin,price,bold_value,tannic value,sweet_value,acidic_value,food_pairing
0,0,0,Sesto 21 Sauvignon,Sauvignon Blanc,4.5,62 ratings,White wine,Italy,€18.50,42.9805%,24.1716%,68.1926%,NaN,Vegetarian
1,1,1,Nussbaumer Gewürztraminer,Gewürztraminer,4.4,64 ratings,White wine,Italy,€27.70,66.025%,41.1219%,27.2879%,NaN,Pork
2,2,2,Albertus Viljoen Limited Release Chenin Blanc,Chenin Blanc,4.4,45 ratings,White wine,South Africa,€27.65,42.4188%,13.5308%,69.2572%,NaN,Shellfish
3,3,3,Orestilla,Turbiana,4.4,26 ratings,White wine,Italy,€26.30,63.0832%,22.848%,50.515%,NaN,Shellfish
4,4,4,Sanct Valentin Sauvignon,Sauvignon Blanc,4.3,584 ratings,White wine,Italy,€24.40,62.3226%,22.0402%,53.2072%,NaN,Shellfish

In [3]:
vivino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4451 entries, 0 to 4450
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0.1       4451 non-null   int64
 1   Unnamed: 0         4451 non-null   int64
 2   name               4451 non-null   object
 3   grape              4418 non-null   object
 4   product rating     4451 non-null   float64
 5   number ratings     4451 non-null   object
 6   product type       4451 non-null   object
 7   country of origin  4451 non-null   object
 8   price              4451 non-null   object
 9   bold_value         3470 non-null   object
 10  tannic value       3417 non-null   object
 11  sweet_value        3289 non-null   object
 12  acidic_value       1681 non-null   object
 13  food_pairing       4451 non-null   object
dtypes: float64(1), int64(2), object(11)
memory usage: 487.0+ KB

## Pulizia DF Vivino

In [4]:
# elimino due colonne 
vivino = vivino.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)

In [5]:
# Modifica dei Dtype del DF Vivino

In [6]:
vivino['number ratings'] = vivino['number ratings'].replace("ratings","",regex=True).astype('int32')

In [7]:
vivino['price'] = vivino['price'].replace("€","",regex=True).astype('float')

In [8]:
# per aggiungere il simbolo € si può usare una lambda function, però questa funzione riporta il Dtype in object
''' vivino['price'] = vivino['price'].apply(lambda x: '€{:.2f}'.format(x)) '''

" vivino['price'] = vivino['price'].apply(lambda x: '€{:.2f}'.format(x)) "

In [9]:
vivino['bold_value'] = vivino['bold_value'].replace("%","",regex=True).astype('float')

In [10]:
vivino['tannic value'] = vivino['tannic value'].replace("%","",regex=True).astype('float')

In [11]:
vivino['sweet_value'] = vivino['sweet_value'].replace("%","",regex=True).astype('float')

In [12]:
vivino['acidic_value'] = vivino['acidic_value'].replace("%","",regex=True).astype('float')

In [13]:
vivino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4451 entries, 0 to 4450
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               4451 non-null   object
 1   grape              4418 non-null   object
 2   product rating     4451 non-null   float64
 3   number ratings     4451 non-null   int32
 4   product type       4451 non-null   object
 5   country of origin  4451 non-null   object
 6   price              4451 non-null   float64
 7   bold_value         3470 non-null   float64
 8   tannic value       3417 non-null   float64
 9   sweet_value        3289 non-null   float64
 10  acidic_value       1681 non-null   float64
 11  food_pairing       4451 non-null   object
dtypes: float64(6), int32(1), object(5)
memory usage: 400.0+ KB

In [14]:
vivino.head(3)

,name,grape,product rating,number ratings,product type,country of origin,price,bold_value,tannic value,sweet_value,acidic_value,food_pairing
0,Sesto 21 Sauvignon,Sauvignon Blanc,4.5,62,White wine,Italy,18.50,42.9805,24.1716,68.1926,NaN,Vegetarian
1,Nussbaumer Gewürztraminer,Gewürztraminer,4.4,64,White wine,Italy,27.70,66.0250,41.1219,27.2879,NaN,Pork
2,Albertus Viljoen Limited Release Chenin Blanc,Chenin Blanc,4.4,45,White wine,South Africa,27.65,42.4188,13.5308,69.2572,NaN,Shellfish

In [15]:
# Riordino le colonne 
vivino = vivino[['product type', 'country of origin','name', 'grape', 'product rating', 'number ratings','price','bold_value','tannic value','sweet_value','acidic_value','food_pairing']]

In [16]:
# Rinomino le colonne 
vivino.columns = ['Product type', 'Country of origin','Name', 'Grape', 'Product rating', 'Number ratings','Price €','Bold value %','Tannic value %','Sweet value %','Acidic value %','Food pairing']

In [17]:
vivino.head()

,Product type,Country of origin,Name,Grape,Product rating,Number ratings,Price €,Bold value %,Tannic value %,Sweet value %,Acidic value %,Food pairing
0,White wine,Italy,Sesto 21 Sauvignon,Sauvignon Blanc,4.5,62,18.50,42.9805,24.1716,68.1926,NaN,Vegetarian
1,White wine,Italy,Nussbaumer Gewürztraminer,Gewürztraminer,4.4,64,27.70,66.0250,41.1219,27.2879,NaN,Pork
2,White wine,South Africa,Albertus Viljoen Limited Release Chenin Blanc,Chenin Blanc,4.4,45,27.65,42.4188,13.5308,69.2572,NaN,Shellfish
3,White wine,Italy,Orestilla,Turbiana,4.4,26,26.30,63.0832,22.8480,50.5150,NaN,Shellfish
4,White wine,Italy,Sanct Valentin Sauvignon,Sauvignon Blanc,4.3,584,24.40,62.3226,22.0402,53.2072,NaN,Shellfish

## Analisi DF Vivino

In [18]:
vivino.head()

,Product type,Country of origin,Name,Grape,Product rating,Number ratings,Price €,Bold value %,Tannic value %,Sweet value %,Acidic value %,Food pairing
0,White wine,Italy,Sesto 21 Sauvignon,Sauvignon Blanc,4.5,62,18.50,42.9805,24.1716,68.1926,NaN,Vegetarian
1,White wine,Italy,Nussbaumer Gewürztraminer,Gewürztraminer,4.4,64,27.70,66.0250,41.1219,27.2879,NaN,Pork
2,White wine,South Africa,Albertus Viljoen Limited Release Chenin Blanc,Chenin Blanc,4.4,45,27.65,42.4188,13.5308,69.2572,NaN,Shellfish
3,White wine,Italy,Orestilla,Turbiana,4.4,26,26.30,63.0832,22.8480,50.5150,NaN,Shellfish
4,White wine,Italy,Sanct Valentin Sauvignon,Sauvignon Blanc,4.3,584,24.40,62.3226,22.0402,53.2072,NaN,Shellfish

In [19]:
vivino.isna().sum()

Product type            0
Country of origin       0
Name                    0
Grape                  33
Product rating          0
Number ratings          0
Price €                 0
Bold value %          981
Tannic value %       1034
Sweet value %        1162
Acidic value %       2770
Food pairing            0
dtype: int64

In [20]:
# Sostituisco solo i Nan della colonna Grape con Unrecognized grape
vivino['Grape'].fillna('Unrecognized grape', inplace=True)

In [21]:
vivino.isna().sum()

Product type            0
Country of origin       0
Name                    0
Grape                   0
Product rating          0
Number ratings          0
Price €                 0
Bold value %          981
Tannic value %       1034
Sweet value %        1162
Acidic value %       2770
Food pairing            0
dtype: int64

In [22]:
# Tipologia di vini più venduti
grape_ratings = vivino.groupby('Product type')['Number ratings'].agg(['sum', 'mean'])
grape_ratings.reset_index(drop=False)

     Product type      sum        mean
0        Red wine  1919870  960.895896
1       Rosé wine    75924  238.754717
2  Sparkling wine   482260  759.464567
3      White wine   430764  287.176000

In [23]:
# Analisi di valutazione in stelline da 0.0 a 5.0 per Paese
country_star_ratings = vivino.groupby('Country of origin')['Product rating'].agg(['count', 'mean','min','max'])
country_star_ratings.reset_index(drop=False)

   Country of origin  count      mean  min  max
0          Argentina     24  4.129167  3.8  4.2
1            Armenia      7  4.200000  4.2  4.2
2          Australia      2  3.900000  3.9  3.9
3            Austria     14  4.142857  4.1  4.2
4              Chile      7  4.200000  4.2  4.2
5            Croatia      5  4.100000  4.1  4.1
6             Cyprus      2  4.200000  4.2  4.2
7             France    205  4.085366  3.8  4.4
8            Germany     28  4.125000  3.9  4.2
9             Greece     16  4.075000  3.8  4.2
10           Hungary     37  4.183784  3.9  4.3
11            Israel      5  4.100000  4.1  4.1
12             Italy   3881  4.164339  3.7  4.7
13       New Zealand     45  4.140000  4.1  4.2
14            Poland      4  4.100000  4.1  4.1
15          Portugal     28  4.196429  4.1  4.2
16          Slovenia      8  4.275000  4.1  4.3
17      South Africa     67  4.167164  3.8  4.4
18             Spain     54  4.131481  3.8  4.3
19     United States      5  4.100000  4.1  4.1
20           Uruguay      7  4.200000  4.2  4.2

In [24]:
#Paese con la Recensione più alta
best_country = country_star_ratings['max'].idxmax()
print("Paese con il conteggio delle Product rating maggiore è:", best_country)

Paese con il conteggio delle Product rating maggiore è: Italy

In [25]:
# Analisi del paese con piu vendite/recensioni
country_numb_ratings = vivino.groupby('Country of origin')['Number ratings'].sum()
country_numb_ratings.reset_index(drop=False)

   Country of origin  Number ratings
0          Argentina           24829
1            Armenia            4004
2          Australia              52
3            Austria            2693
4              Chile            1757
5            Croatia            1215
6             Cyprus              80
7             France          106810
8            Germany            5150
9             Greece            7628
10           Hungary            4783
11            Israel            1020
12             Italy         2276587
13       New Zealand           33434
14            Poland             568
15          Portugal           19677
16          Slovenia             572
17      South Africa           38748
18             Spain          372301
19     United States            3865
20           Uruguay            3045

In [26]:
# Miglior Paese per Vendita
max_value = max(country_numb_ratings)
max_value = country_numb_ratings.nlargest(1)
max_value.reset_index(drop=False)

  Country of origin  Number ratings
0             Italy         2276587

In [27]:
# Tipi di Vino e Punteggio più alto
result_white = vivino.loc[(vivino['Product type'] == 'White wine') & (vivino['Product rating'] >= 4.5), ['Product type', 'Name','Product rating']]
result_white.sort_values(by='Product rating', ascending=False)

     Product type                Name  Product rating
0      White wine  Sesto 21 Sauvignon             4.5
225    White wine  Sesto 21 Sauvignon             4.5
475    White wine  Sesto 21 Sauvignon             4.5
750    White wine  Sesto 21 Sauvignon             4.5
1050   White wine  Sesto 21 Sauvignon             4.5
1375   White wine  Sesto 21 Sauvignon             4.5

In [28]:
# Vino e Punteggio più alto
result_red = vivino.loc[(vivino['Product type'] == 'Red wine') & (vivino['Product rating'] >= 4.5), ['Product type', 'Name','Product rating']]
result_red.sort_values(by='Product rating', ascending=False)

,Product type,Name,Product rating
2453,Red wine,Fico Susumaniello,4.7
2953,Red wine,Fico Susumaniello,4.7
3551,Red wine,Fico Susumaniello,4.7
3252,Red wine,Fico Susumaniello,4.7
2678,Red wine,Fico Susumaniello,4.7
4226,Red wine,Fico Susumaniello,4.7
3876,Red wine,Fico Susumaniello,4.7
3552,Red wine,60 Sessantanni Old Vines Primitivo di Manduria,4.5
3553,Red wine,Limited Edition 10 Vendemmie,4.5
3554,Red wine,Fanova Riserva,4.5
3555,Red wine,Amarone della Valpolicella Classico,4.5
3556,Red wine,Lucretia Chianti Classico Riserva,4.5
3557,Red wine,Luminaria Primitivo di Manduria,4.5
3877,Red wine,60 Sessantanni Old Vines Primitivo di Manduria,4.5
3878,Red wine,Limited Edition 10 Vendemmie,4.5
3257,Red wine,Lucretia Chianti Classico Riserva,4.5
3879,Red wine,Fanova Riserva,4.5
3880,Red wine,Amarone della Valpolicella Classico,4.5
3881,Red wine,Lucretia Chianti Classico Riserva,4.5
3882,Red wine,Luminaria Primitivo di Manduria,4.5
4227,Red wine,60 Sessantanni Old Vines Primitivo di Manduria,4.5
4228,Red wine,Limited Edition 10 Vendemmie,4.5
4229,Red wine,Fanova Riserva,4.5
4230,Red wine,Amarone della Valpolicella Classico,4.5
4231,Red wine,Lucretia Chianti Classico Riserva,4.5
3258,Red wine,Luminaria Primitivo di Manduria,4.5
3255,Red wine,Fanova Riserva,4.5
3256,Red wine,Amarone della Valpolicella Classico,4.5
2454,Red wine,60 Sessantanni Old Vines Primitivo di Manduria,4.5
2455,Red wine,Limited Edition 10 Vendemmie,4.5
2456,Red wine,Fanova Riserva,4.5
2457,Red wine,Amarone della Valpolicella Classico,4.5
2458,Red wine,Lucretia Chianti Classico Riserva,4.5
2459,Red wine,Luminaria Primitivo di Manduria,4.5
2679,Red wine,60 Sessantanni Old Vines Primitivo di Manduria,4.5
2680,Red wine,Limited Edition 10 Vendemmie,4.5
2681,Red wine,Fanova Riserva,4.5
2682,Red wine,Amarone della Valpolicella Classico,4.5
2683,Red wine,Lucretia Chianti Classico Riserva,4.5
2684,Red wine,Luminaria Primitivo di Manduria,4.5
2954,Red wine,60 Sessantanni Old Vines Primitivo di Manduria,4.5
2955,Red wine,Limited Edition 10 Vendemmie,4.5
2956,Red wine,Fanova Riserva,4.5
2957,Red wine,Amarone della Valpolicella Classico,4.5
2958,Red wine,Lucretia Chianti Classico Riserva,4.5
2959,Red wine,Luminaria Primitivo di Manduria,4.5
3253,Red wine,60 Sessantanni Old Vines Primitivo di Manduria,4.5
3254,Red wine,Limited Edition 10 Vendemmie,4.5
4232,Red wine,Luminaria Primitivo di Manduria,4.5

In [29]:
# Vino e Punteggio più alto
result_rose = vivino.loc[(vivino['Product type'] == 'Rosé wine') & (vivino['Product rating'] >= 4.5), ['Product type', 'Name','Product rating']]
result_rose.sort_values(by='Product rating', ascending=False)

Empty DataFrame
Columns: [Product type, Name, Product rating]
Index: []

In [30]:
# Vino e Punteggio più alto
result_sparkling = vivino.loc[(vivino['Product type'] == 'Sparkling wine') & (vivino['Product rating'] >= 4.5), ['Product type', 'Name','Product rating']]
result_sparkling.sort_values(by='Product rating', ascending=False)

        Product type                   Name  Product rating
1500  Sparkling wine  Ladies Spumante Dolce             4.7
1999  Sparkling wine  Ladies Spumante Dolce             4.7

In [31]:
# Solo i 4 tipi di Vino che hanno il Rating piu alto
types_of_wine = ['Red wine', 'White wine', 'Sparkling wine', 'Rosé wine']

# Inizializza un dataframe vuoto
result_df = pd.DataFrame(columns=['Product type', 'Name', 'Product rating'])

# Per ogni tipo di vino, seleziona le righe corrispondenti, ordina per rating e seleziona il primo elemento
for wine_type in types_of_wine:
    filtered_df = vivino[vivino['Product type'] == wine_type]
    sorted_df = filtered_df.sort_values(by='Product rating', ascending=False)
    top_rated_wine = sorted_df.iloc[0][['Product type', 'Name', 'Product rating']]
    result_df = result_df.append(top_rated_wine, ignore_index=True)

# Visualizza i risultati
result_df.head()

/var/folders/w_/dv5r5z3j0xx6g2nks8s390lm0000gn/T/ipykernel_77349/1071194406.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append(top_rated_wine, ignore_index=True)
/var/folders/w_/dv5r5z3j0xx6g2nks8s390lm0000gn/T/ipykernel_77349/1071194406.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append(top_rated_wine, ignore_index=True)
/var/folders/w_/dv5r5z3j0xx6g2nks8s390lm0000gn/T/ipykernel_77349/1071194406.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append(top_rated_wine, ignore_index=True)
/var/folders/w_/dv5r5z3j0xx6g2nks8s390lm0000gn/T/ipykernel_77349/1071194406.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append(top_rated_wine, ignore_index=True)

     Product type                   Name Product rating
0        Red wine      Fico Susumaniello            4.7
1      White wine     Sesto 21 Sauvignon            4.5
2  Sparkling wine  Ladies Spumante Dolce            4.7
3       Rosé wine     Furía di Calafuria            4.3

In [32]:
#Vini piu acquistati e recensiti
best_name_ratings = vivino.groupby(['Country of origin','Product type','Name','Grape'])['Number ratings'].sum()
best_name_ratings.reset_index(drop=False).sort_values(by='Number ratings',ascending=False).head()

,Country of origin,Product type,Name,Grape,Number ratings
190,Italy,Red wine,Edizione Cinque Autoctoni,Sangiovese,445823
1097,Spain,Red wine,Mucho Más Tinto,Blend,338214
180,Italy,Red wine,Cinquanta Collezione,Negroamaro,254576
116,Italy,Red wine,60 Sessantanni Old Vines Primitivo di Manduria,Primitivo,118067
328,Italy,Red wine,Ripassa Valpolicella Ripasso Superiore,Blend,70406

In [33]:
#Vini meno acquistati e recensiti
min_name_ratings = vivino.groupby(['Country of origin','Name','Grape'])['Number ratings'].sum()
min_name_ratings.reset_index(drop=False).sort_values(by='Number ratings').head()

,Country of origin,Name,Grape,Number ratings
341,Italy,Cuveé Extra Brut,Blend,25
645,Italy,Maior Valdobbiadene Prosecco Superiore Dry,Glera (Prosecco),25
52,France,Envol Crémant de Savoie,Blend,25
292,Italy,Cavalè Barbera d'Asti Superiore,Barbera,25
1097,Spain,Cava Mil.Lenni Reserva Brut Nature,Blend,26

In [34]:
#I vini più Venduti con le valutazione (stelline) più alte
best_wine_region= vivino.groupby(['Product type','Name', 'Country of origin','Number ratings'])['Product rating'].mean().astype(int).reset_index(drop=False)
best_wine_region.sort_values(by='Number ratings', ascending=False).head()

,Product type,Name,Country of origin,Number ratings,Product rating
129,Red wine,Edizione Cinque Autoctoni,Italy,63691,4
128,Red wine,Edizione Cinque Autoctoni,Italy,63690,4
127,Red wine,Edizione Cinque Autoctoni,Italy,63689,4
126,Red wine,Edizione Cinque Autoctoni,Italy,63688,4
125,Red wine,Edizione Cinque Autoctoni,Italy,63687,4

In [35]:
#Groupby su Price per osservare quali sono i Tipi di vino più o meno costosi
vivino.groupby("Product type")["Price €"].agg(['count','sum','mean','min','max']).reset_index(drop=False)

     Product type  count       sum       mean  min   max
0        Red wine   1998  43401.08  21.722262  7.0  30.0
1       Rosé wine    318   4575.00  14.386792  7.0  62.0
2  Sparkling wine    635  12318.51  19.399228  7.4  70.0
3      White wine   1500  31424.61  20.949740  7.8  30.0

In [36]:
# Solo i 4 tipi di Vino che hanno il Price piu alto
types_of_wine = ['Red wine', 'White wine', 'Sparkling wine', 'Rosé wine']

# Inizializza un dataframe vuoto
result_df = pd.DataFrame(columns=['Product type', 'Name', 'Price €'])

# Per ogni tipo di vino, seleziona le righe corrispondenti, ordina per rating e seleziona il primo elemento
for wine_type in types_of_wine:
    filtered_df = vivino[vivino['Product type'] == wine_type]
    sorted_df = filtered_df.sort_values(by='Price €', ascending=False)
    top_rated_wine = sorted_df.iloc[0][['Product type', 'Name', 'Price €']]
    result_df = result_df.append(top_rated_wine, ignore_index=True)

# Visualizza i risultati
result_df.head()

/var/folders/w_/dv5r5z3j0xx6g2nks8s390lm0000gn/T/ipykernel_77349/2304813591.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append(top_rated_wine, ignore_index=True)
/var/folders/w_/dv5r5z3j0xx6g2nks8s390lm0000gn/T/ipykernel_77349/2304813591.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append(top_rated_wine, ignore_index=True)
/var/folders/w_/dv5r5z3j0xx6g2nks8s390lm0000gn/T/ipykernel_77349/2304813591.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append(top_rated_wine, ignore_index=True)
/var/folders/w_/dv5r5z3j0xx6g2nks8s390lm0000gn/T/ipykernel_77349/2304813591.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append(top_rated_wine, ignore_index=True)

     Product type                                 Name Price €
0        Red wine  Amarone della Valpolicella Classico    30.0
1      White wine                      Prail Sauvignon    30.0
2  Sparkling wine                 Perlé Bianco Riserva    70.0
3       Rosé wine                    Alìe Rosé Toscana    62.0

In [37]:
#Il vino più caro con relative Vendite(N. ratings)
best_wine_price= vivino.groupby(['Product type','Name', 'Country of origin','Number ratings','Product rating'])['Price €'].sum().astype(int).reset_index(drop=False)
best_wine_price.sort_values(by='Price €', ascending=False).head(1)

,Product type,Name,Country of origin,Number ratings,Product rating,Price €
223,Red wine,Marùn Barbera d'Alba Superiore,Italy,107,4.2,281

In [38]:
#Il vino meno caro con relative Vendite(N. ratings)
best_wine_price= vivino.groupby(['Product type','Name', 'Country of origin','Number ratings','Product rating'])['Price €'].sum().astype(int).reset_index(drop=False)
best_wine_price.sort_values(by='Price €', ascending=True).head(1)

,Product type,Name,Country of origin,Number ratings,Product rating,Price €
854,Sparkling wine,Lambrusco dell'Emilia Dolce Rosso,Italy,4545,3.8,7

In [39]:
# Paese con il tipo di Uva(grape) più comprata/recensita
best_grape_ratings = vivino.groupby(['Country of origin','Grape'])['Number ratings'].sum()
best_grape_ratings.reset_index(drop=False).sort_values(by='Number ratings',ascending=False).head(10)

    Country of origin             Grape  Number ratings
118             Italy        Sangiovese          478258
49              Italy             Blend          385033
158             Spain             Blend          344931
110             Italy         Primitivo          284842
95              Italy        Negroamaro          278333
58              Italy        Chardonnay          134396
86              Italy     Montepulciano           98129
74              Italy             Glera           75982
75              Italy  Glera (Prosecco)           45503
10             France             Blend           43616

In [40]:
# Paese con il tipo di Uva(grape) meno comprata/recensita
min_grape_ratings = vivino.groupby(['Country of origin','Grape'])['Number ratings'].sum()
min_grape_ratings.reset_index(drop=False).sort_values(by='Number ratings').head(10)

    Country of origin              Grape  Number ratings
59              Italy       Chenin Blanc              27
64              Italy            Durella              43
3           Australia              Blend              52
150          Slovenia         Pinot Noir              54
44              Italy  Alicante Bouschet              56
60              Italy         Ciliegiolo              62
54              Italy           Carignan              64
160             Spain           Malvasia              65
126             Italy     Tocai Friulano              68
70              Italy          Gaglioppo              70

## Analisi sulla Valutazione Rating/Price (Convenienza)

In [41]:
# Nuova colonna che calcola il rapporto tra Rating e Price 
vivino["Rating Price Ratio"] = vivino["Product rating"] / vivino["Price €"]

In [42]:
#Massimi valori della colonna "rating_price_ratio".
vivino.sort_values(by='Rating Price Ratio', ascending=False).head()

,Product type,Country of origin,Name,Grape,Product rating,Number ratings,Price €,Bold value %,Tannic value %,Sweet value %,Acidic value %,Food pairing,Rating Price Ratio
2777,Red wine,Italy,Loggia del Sole Governo All'Uso Toscana,Sangiovese,4.3,34,7.0,49.5118,38.3422,17.7344,46.0569,Beef,0.614286
2552,Red wine,Italy,Loggia del Sole Governo All'Uso Toscana,Sangiovese,4.3,34,7.0,49.5118,38.3422,17.7344,46.0569,Beef,0.614286
3975,Red wine,Italy,Loggia del Sole Governo All'Uso Toscana,Sangiovese,4.3,34,7.0,49.5118,38.3422,17.7344,46.0569,Beef,0.614286
3052,Red wine,Italy,Loggia del Sole Governo All'Uso Toscana,Sangiovese,4.3,34,7.0,49.5118,38.3422,17.7344,46.0569,Beef,0.614286
4325,Red wine,Italy,Loggia del Sole Governo All'Uso Toscana,Sangiovese,4.3,34,7.0,49.5118,38.3422,17.7344,46.0569,Beef,0.614286

In [43]:
# creo dei bin dove idati con valori compresi tra 0.0 e 0.20 saranno assegnati al primo bin, 
#i dati compresi tra 0.20 e 0.40 saranno assegnati al secondo bin, 
#i dati con valori compresi tra 0.40 e  saranno assegnati al terzo bin.
bins = [0.0, 0.2, 0.4, 1.0]

In [44]:
# Creo una nuova colonna "Rating category" che mi permette di creare dei valori "Excellent", "Medium" o "Poor" in base al rating
vivino['Rating category'] = pd.cut(vivino['Rating Price Ratio'], bins=bins , labels=['Low', 'Medium', 'Excellent'])
vivino.head(10)   #i quantili megli farli sul Rating o sul rating price Ratio?????

,Product type,Country of origin,Name,Grape,Product rating,Number ratings,Price €,Bold value %,Tannic value %,Sweet value %,Acidic value %,Food pairing,Rating Price Ratio,Rating category
0,White wine,Italy,Sesto 21 Sauvignon,Sauvignon Blanc,4.5,62,18.50,42.9805,24.1716,68.1926,NaN,Vegetarian,0.243243,Medium
1,White wine,Italy,Nussbaumer Gewürztraminer,Gewürztraminer,4.4,64,27.70,66.0250,41.1219,27.2879,NaN,Pork,0.158845,Low
2,White wine,South Africa,Albertus Viljoen Limited Release Chenin Blanc,Chenin Blanc,4.4,45,27.65,42.4188,13.5308,69.2572,NaN,Shellfish,0.159132,Low
3,White wine,Italy,Orestilla,Turbiana,4.4,26,26.30,63.0832,22.8480,50.5150,NaN,Shellfish,0.167300,Low
4,White wine,Italy,Sanct Valentin Sauvignon,Sauvignon Blanc,4.3,584,24.40,62.3226,22.0402,53.2072,NaN,Shellfish,0.176230,Low
5,White wine,Italy,Sanct Valentin Gewürztraminer,Gewürztraminer,4.3,569,27.90,65.1511,40.9325,28.2854,NaN,Pork,0.154122,Low
6,White wine,Italy,Guerriero del Mare,Biancame,4.3,526,24.95,53.7678,36.0285,58.2177,NaN,Vegetarian,0.172345,Low
7,White wine,Italy,Montunal,Trebbiano,4.3,399,12.35,57.7950,20.5365,52.2758,NaN,Shellfish,0.348178,Medium
8,White wine,Italy,Limited Edition 10 Vendemmie Bianco,Blend,4.3,323,25.70,42.2576,28.8939,63.3788,NaN,Vegetarian,0.167315,Low
9,White wine,Italy,Brolettino Lugana,Turbiana,4.3,272,15.10,60.5740,26.7935,50.7820,NaN,Shellfish,0.284768,Medium

In [45]:
# Il mioglior Vino Rating - Price
sorted_data = vivino.sort_values(by='Rating Price Ratio', ascending=False)
best_wine_rp = sorted_data.iloc[0]
best_wine_rp

Product type                                         Red wine
Country of origin                                       Italy
Name                  Loggia del Sole Governo All'Uso Toscana
Grape                                              Sangiovese
Product rating                                            4.3
Number ratings                                             34
Price €                                                   7.0
Bold value %                                          49.5118
Tannic value %                                        38.3422
Sweet value %                                         17.7344
Acidic value %                                        46.0569
Food pairing                                             Beef
Rating Price Ratio                                   0.614286
Rating category                                     Excellent
Name: 2777, dtype: object

In [46]:
# Il peggior Vino Rating - Price
sorted_data = vivino.sort_values(by='Rating Price Ratio')
worst_wine_rp = sorted_data.iloc[0]
worst_wine_rp

Product type                Sparkling wine
Country of origin                    Italy
Name                  Perlé Bianco Riserva
Grape                           Chardonnay
Product rating                         4.2
Number ratings                         352
Price €                               70.0
Bold value %                           NaN
Tannic value %                         NaN
Sweet value %                          NaN
Acidic value %                         NaN
Food pairing                     Shellfish
Rating Price Ratio                    0.06
Rating category                        Low
Name: 1950, dtype: object

In [47]:
# conto il numero di tipi di vino con rating "Excellent"
num_excellent = (vivino['Rating category'] == 'Excellent').sum()
print("Numero di vini con un rating 'Excellent':", num_excellent)

Numero di vini con un rating 'Excellent': 232

In [48]:
# conta il numero di tipi di vino con rating "Medium"
num_medium = (vivino['Rating category'] == 'Medium').sum()
print("Numero di vini con un rating 'Medium':", num_medium)

Numero di vini con un rating 'Medium': 1871

In [49]:
# conta il numero di tipi di vino con rating "Low"
num_low = (vivino['Rating category'] == 'Low').sum()
print("Numero di vini con un rating 'Low':", num_low)

Numero di vini con un rating 'Low': 2348

In [50]:
#APCode

In [51]:
vivino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4451 entries, 0 to 4450
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product type        4451 non-null   object
 1   Country of origin   4451 non-null   object
 2   Name                4451 non-null   object
 3   Grape               4451 non-null   object
 4   Product rating      4451 non-null   float64
 5   Number ratings      4451 non-null   int32
 6   Price €             4451 non-null   float64
 7   Bold value %        3470 non-null   float64
 8   Tannic value %      3417 non-null   float64
 9   Sweet value %       3289 non-null   float64
 10  Acidic value %      1681 non-null   float64
 11  Food pairing        4451 non-null   object
 12  Rating Price Ratio  4451 non-null   float64
 13  Rating category     4451 non-null   category
dtypes: category(1), float64(7), int32(1), object(5)
memory usage: 439.3+ KB

In [52]:
vivino['Product type'].unique()

array(['White wine', 'Sparkling wine', 'Rosé wine', 'Red wine'],
      dtype=object)

In [53]:
vivino[vivino['Product type'] != 'Red wine']

,Product type,Country of origin,Name,Grape,Product rating,Number ratings,Price €,Bold value %,Tannic value %,Sweet value %,Acidic value %,Food pairing,Rating Price Ratio,Rating category
0,White wine,Italy,Sesto 21 Sauvignon,Sauvignon Blanc,4.5,62,18.50,42.9805,24.1716,68.1926,NaN,Vegetarian,0.243243,Medium
1,White wine,Italy,Nussbaumer Gewürztraminer,Gewürztraminer,4.4,64,27.70,66.0250,41.1219,27.2879,NaN,Pork,0.158845,Low
2,White wine,South Africa,Albertus Viljoen Limited Release Chenin Blanc,Chenin Blanc,4.4,45,27.65,42.4188,13.5308,69.2572,NaN,Shellfish,0.159132,Low
3,White wine,Italy,Orestilla,Turbiana,4.4,26,26.30,63.0832,22.8480,50.5150,NaN,Shellfish,0.167300,Low
4,White wine,Italy,Sanct Valentin Sauvignon,Sauvignon Blanc,4.3,584,24.40,62.3226,22.0402,53.2072,NaN,Shellfish,0.176230,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2448,Rosé wine,Italy,Lagrein Rosé,Lagrein,3.8,62,11.35,NaN,NaN,NaN,NaN,Shellfish,0.334802,Medium
2449,Rosé wine,Italy,Lagrein Rosé,Lagrein,3.8,57,9.88,NaN,NaN,NaN,NaN,Shellfish,0.384615,Medium
2450,Rosé wine,Italy,Rosé,Montepulciano,3.8,53,8.90,NaN,NaN,NaN,NaN,Shellfish,0.426966,Excellent
2451,Rosé wine,Italy,Pinosé Pinot Nero Rosé,Pinot Noir,3.8,42,12.66,NaN,NaN,NaN,NaN,Shellfish,0.300158,Medium
2452,Rosé wine,Italy,RosaMati Maremma Toscana Rosato,Shiraz/Syrah,3.8,39,11.68,NaN,NaN,NaN,NaN,Shellfish,0.325342,Medium

In [54]:
vivino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4451 entries, 0 to 4450
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product type        4451 non-null   object
 1   Country of origin   4451 non-null   object
 2   Name                4451 non-null   object
 3   Grape               4451 non-null   object
 4   Product rating      4451 non-null   float64
 5   Number ratings      4451 non-null   int32
 6   Price €             4451 non-null   float64
 7   Bold value %        3470 non-null   float64
 8   Tannic value %      3417 non-null   float64
 9   Sweet value %       3289 non-null   float64
 10  Acidic value %      1681 non-null   float64
 11  Food pairing        4451 non-null   object
 12  Rating Price Ratio  4451 non-null   float64
 13  Rating category     4451 non-null   category
dtypes: category(1), float64(7), int32(1), object(5)
memory usage: 439.3+ KB

In [55]:
df = vivino[(vivino['Acidic value %'].isna()) & (vivino['Product type'] != 'Red wine')]

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2453 entries, 0 to 2452
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product type        2453 non-null   object
 1   Country of origin   2453 non-null   object
 2   Name                2453 non-null   object
 3   Grape               2453 non-null   object
 4   Product rating      2453 non-null   float64
 5   Number ratings      2453 non-null   int32
 6   Price €             2453 non-null   float64
 7   Bold value %        1711 non-null   float64
 8   Tannic value %      1658 non-null   float64
 9   Sweet value %       1589 non-null   float64
 10  Acidic value %      0 non-null      float64
 11  Food pairing        2453 non-null   object
 12  Rating Price Ratio  2453 non-null   float64
 13  Rating category     2453 non-null   category
dtypes: category(1), float64(7), int32(1), object(5)
memory usage: 261.2+ KB

In [57]:
vivino.drop(vivino[(vivino['Acidic value %'].isna()) & (vivino['Product type'] != 'Red wine')].index, inplace=True)

In [58]:
vivino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1998 entries, 2453 to 4450
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product type        1998 non-null   object
 1   Country of origin   1998 non-null   object
 2   Name                1998 non-null   object
 3   Grape               1998 non-null   object
 4   Product rating      1998 non-null   float64
 5   Number ratings      1998 non-null   int32
 6   Price €             1998 non-null   float64
 7   Bold value %        1759 non-null   float64
 8   Tannic value %      1759 non-null   float64
 9   Sweet value %       1700 non-null   float64
 10  Acidic value %      1681 non-null   float64
 11  Food pairing        1998 non-null   object
 12  Rating Price Ratio  1998 non-null   float64
 13  Rating category     1998 non-null   category
dtypes: category(1), float64(7), int32(1), object(5)
memory usage: 197.3+ KB

In [59]:
df['Acidic value %'].values[:] = 0

In [60]:
df = df.rename(columns={'Acidic value %': 'Tannic value %', 'Tannic value %': 'Sweet value %', 'Sweet value %': 'Acidic value %'})

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2453 entries, 0 to 2452
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product type        2453 non-null   object
 1   Country of origin   2453 non-null   object
 2   Name                2453 non-null   object
 3   Grape               2453 non-null   object
 4   Product rating      2453 non-null   float64
 5   Number ratings      2453 non-null   int32
 6   Price €             2453 non-null   float64
 7   Bold value %        1711 non-null   float64
 8   Sweet value %       1658 non-null   float64
 9   Acidic value %      1589 non-null   float64
 10  Tannic value %      2453 non-null   float64
 11  Food pairing        2453 non-null   object
 12  Rating Price Ratio  2453 non-null   float64
 13  Rating category     2453 non-null   category
dtypes: category(1), float64(7), int32(1), object(5)
memory usage: 261.2+ KB

In [62]:
vivino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1998 entries, 2453 to 4450
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product type        1998 non-null   object
 1   Country of origin   1998 non-null   object
 2   Name                1998 non-null   object
 3   Grape               1998 non-null   object
 4   Product rating      1998 non-null   float64
 5   Number ratings      1998 non-null   int32
 6   Price €             1998 non-null   float64
 7   Bold value %        1759 non-null   float64
 8   Tannic value %      1759 non-null   float64
 9   Sweet value %       1700 non-null   float64
 10  Acidic value %      1681 non-null   float64
 11  Food pairing        1998 non-null   object
 12  Rating Price Ratio  1998 non-null   float64
 13  Rating category     1998 non-null   category
dtypes: category(1), float64(7), int32(1), object(5)
memory usage: 197.3+ KB

In [63]:
df = df.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 10, 8, 9, 11, 12 ,13]]

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2453 entries, 0 to 2452
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product type        2453 non-null   object
 1   Country of origin   2453 non-null   object
 2   Name                2453 non-null   object
 3   Grape               2453 non-null   object
 4   Product rating      2453 non-null   float64
 5   Number ratings      2453 non-null   int32
 6   Price €             2453 non-null   float64
 7   Bold value %        1711 non-null   float64
 8   Tannic value %      2453 non-null   float64
 9   Sweet value %       1658 non-null   float64
 10  Acidic value %      1589 non-null   float64
 11  Food pairing        2453 non-null   object
 12  Rating Price Ratio  2453 non-null   float64
 13  Rating category     2453 non-null   category
dtypes: category(1), float64(7), int32(1), object(5)
memory usage: 261.2+ KB

In [65]:
vivino = pd.concat([df, vivino])

In [ ]:
vivino.info()

In [ ]:
vivino.to_csv('vivino_clean_dataset.csv')

In [66]:
vivino.isnull().sum()

Product type             0
Country of origin        0
Name                     0
Grape                    0
Product rating           0
Number ratings           0
Price €                  0
Bold value %           981
Tannic value %         239
Sweet value %         1093
Acidic value %        1181
Food pairing             0
Rating Price Ratio       0
Rating category          0
dtype: int64

In [69]:
vivino[vivino['Bold value %'].isna()]['Product type'].unique()

array(['White wine', 'Sparkling wine', 'Rosé wine', 'Red wine'],
      dtype=object)

In [70]:
len(vivino[(vivino['Bold value %'].isna()) | (vivino['Tannic value %'].isna()) | (vivino['Sweet value %'].isna()) | (vivino['Acidic value %'].isna())])

1181

In [71]:
len(vivino)

4451

In [72]:
len(vivino[(vivino['Bold value %'].isna())])

981

In [73]:
len(vivino[(vivino['Tannic value %'].isna())])

239

In [74]:
len(vivino[(vivino['Sweet value %'].isna()) & (vivino['Product type'] == 'White wine')])

99

In [ ]:
vivino.head()

In [75]:
(vivino[(vivino['Sweet value %'].isna()) & (vivino['Product type']== 'White wine') ])

,Product type,Country of origin,Name,Grape,Product rating,Number ratings,Price €,Bold value %,Tannic value %,Sweet value %,Acidic value %,Food pairing,Rating Price Ratio,Rating category
17,White wine,Hungary,Nyulászó / Furmint,Furmint,4.3,51,27.33,NaN,0.0,NaN,NaN,Shellfish,0.157336,Low
25,White wine,Italy,Opimio Pinot Bianco,Pinot Blanc,4.3,26,22.20,40.5150,0.0,NaN,NaN,Vegetarian,0.193694,Low
49,White wine,Greece,Aspros Lagos White,Vidiano,4.2,344,22.75,NaN,0.0,NaN,NaN,Shellfish,0.184615,Low
69,White wine,Spain,La Baraja Godello,Godello,4.2,169,22.69,NaN,0.0,NaN,NaN,Shellfish,0.185104,Low
72,White wine,France,Les Fondettes Sancerre,Sauvignon Blanc,4.2,151,25.70,21.7203,0.0,NaN,NaN,Shellfish,0.163424,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,White wine,Italy,Opimio Pinot Bianco,Pinot Blanc,4.3,26,22.20,40.5150,0.0,NaN,NaN,Vegetarian,0.193694,Low
1424,White wine,Greece,Aspros Lagos White,Vidiano,4.2,344,22.75,NaN,0.0,NaN,NaN,Shellfish,0.184615,Low
1444,White wine,Spain,La Baraja Godello,Godello,4.2,169,22.69,NaN,0.0,NaN,NaN,Shellfish,0.185104,Low
1447,White wine,France,Les Fondettes Sancerre,Sauvignon Blanc,4.2,151,25.70,21.7203,0.0,NaN,NaN,Shellfish,0.163424,Low
1471,White wine,Austria,Ried Wachtberg Grüner Veltliner,Grüner Veltliner,4.2,66,29.10,19.6312,0.0,NaN,NaN,Vegetarian,0.144330,Low

In [ ]:
len(vivino[(vivino['Acidic value %'].isna())])

In [ ]:
vivino[(vivino['Bold value %'].isna()) | (vivino['Tannic value %'].isna()) | (vivino['Sweet value %'].isna()) | (vivino['Acidic value %'].isna())]

In [80]:
len(vivino[(vivino['Bold value %'].isna()) & ((vivino['Tannic value %'].isna()) | (vivino['Tannic value %']== 0)) & (vivino['Sweet value %'].isna()) & (vivino['Acidic value %'].isna())])

981

In [ ]:
vivino_without_nan = vivino.drop(vivino[(vivino['Bold value %'].isna()) | (vivino['Tannic value %'].isna()) | (vivino['Sweet value %'].isna()) | (vivino['Acidic value %'].isna())].index)

In [ ]:
len(vivino_without_nan)

In [ ]:
vivino_without_nan.to_csv('vivino_without_nan.csv')

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [ ]:
vivino.head()

In [ ]:
vivino_imputer = vivino

In [ ]:
imputer = IterativeImputer(random_state=42)

In [ ]:
vivino_imputer.info()

In [ ]:
vivino_imputer_col = vivino_imputer[['Product rating', 'Number ratings', 'Price €', 'Bold value %', 'Tannic value %', 'Sweet value %', 'Acidic value %', 'Rating Price Ratio']]

In [ ]:
imputed = imputer.fit_transform(vivino_imputer_col)

In [ ]:
vivino_imputed = pd.DataFrame(imputed, columns=vivino_imputer_col.columns)

In [ ]:
vivino_imputed.isnull().sum()

In [ ]:
vivino_imputer.isnull().sum()

In [ ]:
vivino_imputer['Bold value %'] = vivino_imputed['Bold value %']

In [ ]:
vivino_imputer['Tannic value %'] = vivino_imputed['Tannic value %']

In [ ]:
vivino_imputer['Sweet value %'] = vivino_imputed['Sweet value %']

In [ ]:
vivino_imputer['Acidic value %'] = vivino_imputed['Acidic value %']

In [ ]:
vivino_imputer.to_csv('vivino_with_imputer.csv')

In [ ]:
len(vivino_imputer)